/* 
    Document   : customer
    Created on : 2 Dec, 2013, 7:19:46 PM
    Author     : vino
    Description:
        Purpose of the stylesheet follows.
*/
.new {
    background: none repeat scroll 0 0 #C12204;
    border-radius:4px;
    color: #FFFFFF;
    font-size: 9px;
    padding:4px;
    height:10px;
    width:10px;
    text-shadow: 0px 0px 1px  #fff;
    left:1px;
}
.tablerw {
   background: #fdfff7; /* Old browsers */
background: -moz-linear-gradient(top, #fdfff7 0%, #efefdb 100%, #efefdb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfff7), color-stop(100%,#efefdb), color-stop(100%,#efefdb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fdfff7 0%,#efefdb 100%,#efefdb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fdfff7 0%,#efefdb 100%,#efefdb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fdfff7 0%,#efefdb 100%,#efefdb 100%); /* IE10+ */
background: linear-gradient(to bottom, #fdfff7 0%,#efefdb 100%,#efefdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfff7', endColorstr='#efefdb',GradientType=0 ); /* IE6-9 */
}
.category {
    top:20px;
    position:relative;
}
root { 
    display: block;
}

.select-box {
   border:2px solid #7E7C6B;
	border-radius:4px;

}
.top-bar-section ul {
    background-color:none;
}


a{
  color: #739931;
}
table {
    border: none;
    color:#333300;
}
.section-container.tabs > section > .title a, .section-container.tabs > .section > .title a {
    background-color: yellow;
    border:none;
}
.section-container.tabs > section > .title, .section-container.tabs > .section > .title {
    border:none;
}
.section-container.tabs > section > .title a, .section-container.tabs > .section > .title a:ahover {
    background-color: pink;
    font-style:italic;
}
.section-container.tabs > section.active > .title a, .section-container.tabs > .section.active > .title a {
    background-color: white;
    border:none;
}
.section-container .tabs {
    background-color: red;  
}
