<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>SecureTax-People</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">
    </head>

    <header>
        <div class="row">
            <div class="small-12 large-12 columns">
                <nav class="top-bar-section">
                    <img src ="http://placehold.it/250x45&text=sitename" />
                    <ul class="inline-list right ">
                        <li><a href="#">Hello vino</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="home.html">Logout</a></li>
                    </ul>

                </nav>
            </div>  
            <div class="small-12 large-12 columns">
                <hr>
            </div>
        </div>

    </header>
    <body>

        <div class="row">
            <div class="small-12 large-12 columns menu" >
                <ul class="inline-list">
                    <li><a href="admin.html">Home</a>
                    <li><a href="category.html">Category</a>
                    <li><a href="people.html">People</a>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 columns">
                <h4>Add New People</h4>
            </div>
            </div>
        <div class="row">
            <div class="small-6 large-6 columns ">
                <label>Name</label>
                <input type="text" placeholder="Enter name.."><br>
                <label>User Name</label>
                <input type="text" placeholder="Enter username.."><br>
                <label>Password</label>
                <input type="password" placeholder="Enter password.."><br>
                <label>Confirm Password</label>
                <input type="password" placeholder="Re-Enter password"><br>
                <label>Role</label>
                <input type="text" placeholder="Enter role"><br>
              <a href="add-new-people-with-message.html">  <button>Submit</button></a>
            </div>
        </div>

    </body>
    <footer>
        <div class="row">
            <div class="large-12 small-12 columns">
                <hr>
            </div>
            <div class="small-12 large-12 columns">
                <p> © 2013 Pay Tax. All rights reserved.</p>
            </div>
        </div>
    </footer>
</html>
