<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Secure Tax Customer-home</title>

        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">
        <link rel ="stylesheet" href ="css/customer.css">
        <link href='http://fonts.googleapis.com/css?family=Montaga' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Akronim' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
        

        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script src="js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script>
            $(document).foundation('section', {deep_linking: true}, function(response) {
                console.log(response.errors);
            });
        </script>
        <script>

            $(document).ready(function() {
                $("#buy").click(function() {

                    $("#way-of-payment").show()

                });
            });
        </script>
        <script>
            $(document).ready(function() {
                $("#sel").click(function() {
                    $("#points").text("0");
                });

                $("#cat1").click(function() {
                    $("#points").text("10");
                });
                $("#cat2").click(function() {
                    $("#points").text("20");
                });
                $("#cat3").click(function() {
                    $("#points").text("30");
                });
                $("#cat4").click(function() {
                    $("#points").text("40");
                });
                $("#cat5    ").click(function() {
                    $("#points").text("50");
                });

            });
        </script>
        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
        </script>


    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <span class="site-name">THE AUDITOR</span>
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino </a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div>  
                
            </div>
        </header>


        <div class="row"> <!-- start row div -->
            <div class="small-12 large-12 columns">  <!-- start div with 12 columns -->
                <div class="section-container auto" data-section>

                    <section class="active">
                        <p class="title" data-section-title><a href="#panel1">Home</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <table class=" layout display responsive-table">
                                        <thead>
                                            <tr>
                                                <th >Questions</th>

                                                <th width="120">Asked on</th>
                                                <th width="150">Asked By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="answer.html" id="question">Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</a><p class="tiny button radius disabled " style="display:inline;position:relative;left:2px;top:2px;bottom:2px;background-color: red ">New</p></td>

                                                <td>12th Nov 2013</td>
                                                <td>vino</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id  ="question">What is standard deduction?</a></td>

                                                <td>12th Nov 2013</td>
                                                <td>vino</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen?</a></td>

                                                <td>12th Nov 2013</td>
                                                <td>vino</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen?</a></td>

                                                <td>12th Nov 2013</td>
                                                <td>vino</td>
                                            </tr>
                                            <tr>
                                                <td><a id="question" href="#">This is longer content Donec id elit non mi porta gravida at eget metus.</a></td>

                                                <td>12th Nov 2013</td>
                                                <td>vino</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>



                        </div>
                    </section>
                    <section >
                        <p class="title" data-section-title><a href="#panel2">Manage Categories</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-6 large-6 columns">
                                    <h4>Category</h4>
                                </div>


                                <div class="small-12 large-12 columns ">
                                    <table class="layout display responsive-table">
                                        <thead>


                                            <tr> 
                                                <th>
                                                    Category 
                                                </th>
                                                <th>
                                                    Points
                                                </th>
                                                <th>
                                                    Created Date
                                                </th>
                                                <th>
                                                    Modified Date
                                                </th>
                                                <th>
                                                    Created by
                                                </th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>category 1</td>
                                            <td>12</td>
                                            <td>27th Nov 2013</td>
                                            <td>None</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="edit-category.html">edit</a>/<a href="#">delete</a></td>

                                        </tr>
                                        <tr>
                                            <td>category 2</td>
                                            <td>12</td>
                                            <td>23th Nov 2013</td>
                                            <td>28th Nov 2013</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>category 3</td>
                                            <td>12</td>
                                            <td>27th Nov 2013</td>
                                            <td>None</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>category 4</td>
                                            <td>12</td>
                                            <td>27th Nov 2013</td>
                                            <td>None</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>
                                        </tr>
                                        <tbody>

                                    </table>

                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <hr>
                                </div>
                                <div class="large-12 small-12 columns">
                                    <h4>Add New category</h4><br>
                                </div>
                                <div class="small-12 large-12 columns">
                                    <label>Category Name</label><br>
                                    <input style="width:200px" type="text" placeholder="Type your category name"><br>
                                    <label>Points</label><br>
                                    <input style="width:200px" type="text" placeholder="Type your points"><br>
                                    <a href="add-category-with-message.html">   <button class="small but-blue">Add</button></a>
                                </div>
                            </div>


                        </div>
                    </section>
                    <section >
                        <p class="title" data-section-title><a href="#panel3">Manage People</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-6 large-6 columns">
                                    <h4>People</h4>
                                    <h6><a style="text-decoration:underline" href="add-new-people.html">Add New people</a></h6><br>


                                </div>


                                <div class="small-12 large-12 columns ">
                                    <table class="layout display responsive-table">
                                        <thead>


                                            <tr> 
                                                <th>
                                                    Name
                                                <th>
                                                    Role
                                                </th>
                                                <th>
                                                    Created Date
                                                </th>
                                                <th>
                                                    Last Access
                                                </th>
                                                <th>
                                                    Created by
                                                </th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>vinotha</td>
                                            <td>admin</td>
                                            <td>27th Nov 2013</td>
                                            <td>None</td>
                                            <td></td>
                                            <td id="edit-delete"><a href="edit-people.html">edit</a>/<a href="#" data-reveal-id="myModal">delete</a></td>

                                        </tr>
                                        <tr>
                                            <td>sharmila</td>
                                            <td>consultant</td>
                                            <td>23th Nov 2013</td>
                                            <td>28th Nov 2013</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="edit-people.html">edit</a>/<a href="#" data-reveal-id="myModal">delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>thaiyalnayaki</td>
                                            <td>consultant</td>
                                            <td>27th Nov 2013</td>
                                            <td>None</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="edit-people.html">edit</a>/<a href="#" data-reveal-id="myModal">delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>vino</td>
                                            <td>customer</td>
                                            <td>27th Nov 2013</td>
                                            <td>None</td>
                                            <td>admin</td>
                                            <td id="edit-delete"><a href="edit-people.html">edit</a>/<a href="#" data-reveal-id="myModal">delete</a></td>
                                        </tr>
                                        <tbody>

                                    </table>
                                    <div id="myModal" class="reveal-modal">
                                        <p>Are you sure to delete this people?</p>

                                        <a href="people.html"> <button>yes</button></a>
                                        <a class="close-reveal-modal">&#215;</a>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#panel3">Activities</a></p>
                        <div class="content" data-section-content>
                        </div>
                        
                        </section>

                </div> 
            </div><!-- start 12 columns div end-->
        </div><!-- start row end -->

        <footer>
            <div class="row">
                
                <div class="small-12 large-12 columns">
                    <span> 2013 Pay Tax. All rights reserved.</span>
                </div>
            </div>
        </footer>
    </body>

</html>