<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>SecureTax-Discussion</title>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
        </script>


    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250x45&text=sitename" />
                        <ul class="inline-list right ">
                            <li><a href="#">Hello vino</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>

                    </nav>
                </div>  
                <div class="small-12 large-12 columns">
                    <hr>
                </div>
            </div>

        </header>   

        <div class="row">
            <div class="small-12 large-12 columns">
                <p style="color:green">Your answer posted successfully</p>
                </div>
            <div class="small-12 large-12 columns" >
                <ul class="inline-list">
                    <li><a href="consultant.html">Home</a>

                   

                </ul>
            </div>

        </div>
        <div class="row">
            
            <div class="small-12 large-12 columns">
                <h3>Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</h3>
                <hr>
            </div>
            <div class="small-12 large-12 columns">
                <h3>Discussion</h3>
                <hr>
            </div>
            <div class="small-12 large-12 columns">
                <div style="border-bottom:1px solid #DDDDDD ">
                    <p><b>Posted by vino</b> on <i>29th Nov 2013</i> </p>
                    <p> No, earned income only includes all the taxable income and wages you get from working or from certain disability payments. Earned income does not include retirement, pay received for work while an inmate in a penal institution, interest and dividends, social security, unemployment benefits, alimony or child support as referenced in IRS Publication 596.</p>
                </div>
            </div>
            <div class="small-12 large-12 columns" >
                <div style="border-bottom:1px solid #DDDDDD;position:relative;margin-top:20px;background-color: #EEF8F1 ">
                    <p><b>Posted by vino</b> on <i>27th Nov 2013</i> </p>
                    <p> No, earned income only includes all the taxable income and wages you get from working or from certain disability payments. Earned income does not include retirement, pay received for work while an inmate in a penal institution, interest and dividends, social security, unemployment benefits, alimony or child support as referenced in IRS Publication 596.</p>
                </div>

            </div>


            <div class="small-12 large-12 columns">
                <h5>Reply</h5>
            </div>

            <div class=" small-10 large-10 columns">
                <textarea style="height:120px" placeholder="write your reply..."></textarea><br>
            </div>
            <div class="small-12 large-12 columns">
                <label>Attachment</label><br>
            </div>
            <div class="small-6 large-6 columns">
                <input type="file">
            </div>
            <div class="pull-3 small-6 large-6 columns">
                <button class="small">Upload</button>
            </div>
            <div class="small-12 large-12 columns" style="margin-top:20px;position:relative">
                <button>Post</button>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="large-12 small-12 columns">
                    <hr>
                </div>
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>

</html>
