
<!DOCTYPE html>
<html>
    <head>
        <title>Discussion</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script src="js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
        </script>


    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <span class="site-name">THE AUDITOR</span>
                        <ul class="inline-list right">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                        <div class="right">
                            <span class="name-label">Hello vinotha</span>
                        </div>
                    </nav>
                </div>  

            </div>

        </header>   

        <div class="row">
            <div class="small-12 large-12 columns" >
                <ul class="inline-list">
                    <li><a href="home.html">Home</a>
                    <li><a href="customer.html">Customer</a> 
                    <li><a href="router.html">Router</a>
                    <li><a href="admin.html">Admin</a>
                </ul>
            </div>

        </div>
        <div class="row content-wrapper">
            <div class="small-12 large-12 columns">
                <div class="section-container tabs section-login" data-section>

                    <section class="active">
                        <p class="title" data-section-title><a href="#">Home</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <p class="message">Your answer posted successfully</p>
                                </div>
                                <div class="small-12 large-12 columns">
                                    <h3>Discussion</h3>
                                    <hr>
                                </div>
                                <div class="small-12 large-12 columns">
                                    <h3>Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</h3>
                                    <hr>
                                </div>

                                <div class="small-12 large-12 columns ">
                                    <div class="answer">
                                        <p><b>Posted by consultant</b> on <i>27th Nov 2013</i> </p>
                                        <p> No, earned income only includes all the taxable income and wages you get from working or from certain disability payments. Earned income does not include retirement, pay received for work while an inmate in a penal institution, interest and dividends, social security, unemployment benefits, alimony or child support as referenced in IRS Publication 596.</p>
                                    </div>
                                </div>
                                <div class="small-12 large-12 columns" >
                                    <div class="answer-alt">
                                        <p><b>Posted by vino</b> on <i>27th Nov 2013</i> </p>
                                        <p>When the tax return is submitted?</p>
                                    </div>

                                </div>
                                <div class="small-12 large-12 columns ">
                                    <div class="answer">
                                        <p><b>Posted by consultant</b> on <i>27th Nov 2013</i> </p>
                                        <p>The tax return shall be submitted in the following dates: 
                                            -before the 1st of April of every year following the end of the tax period of the previous year with regard to natural persons - before the 1
                                            st of May with regard to juristic persons </p>

                                    </div></div>
                                <div class="small-12 large-12 columns">
                                    <h5>Reply</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" small-10 large-10 columns">
                                    <textarea placeholder="write your reply..."></textarea><br>
                                </div>
                            </div>

                            <label>Attachment</label><br>

                            <div class="row">
                                <div class="small-6 large-6 columns">
                                    <input type="file">
                                </div>
                                <div class="pull-3 small-6 large-6 columns">
                                    <button class="small but">Upload</button>
                                </div>
                                <div class="small-12 large-12 columns category" >
                                    <a href="answer-with-message.html"> <button class="but-blue">Post</button></a>
                                </div>
                            </div>
                        </div>    
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">

                <div class="small-12 large-12 columns">
                    <p> &copy;2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
