<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Secure Tax</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel ="stylesheet" href ="foundation.css">
        <link rel ="stylesheet" href ="layout.css">
        <script src="js/vendor/jquery.js"></script>
         
       <script>
           
            $(document).ready(function() {
                $("#submit-points").click(function() {

                    $("#way-of-payment").show()

               });
            });
        </script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250 x 45&text=sitename" />
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino </a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>

                    </nav>
                </div>  
            </div>

            <div class="row">
                <div class="small-12 large-12 columns menu" >
                    <ul class="inline-list">
                        <li><a href="customer_page_after_login.html">Home</a>

                        <li><a href="create_question_page.html">Create Question</a>
                        <li><a href="buy-points.html">Buy points</a></li>
                    </ul>
                </div>
            </div>


        </header>

    
        <div class="row">
            <div class="small-12 large-12 columns">


                <h5 style="text-align:center">Buy Points</h5>
                <form class="buy-points">
                    <table>
                        <tr>
                            <td>Enter your points</td>
                        <td><input type="number"></td>
                        <td>Rate</td>
                        <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td><button class="small" id="submit-points">Submit</button></td>
                        </tr>
                    </table>

                </form>


            </div>


            <div id="way-of-payment" style="display:none">
                <div class="small-12 large-12 columns ">

                    <p>Pay Your amount by</p>
                    <ul class="inline-list">
                        <li><p><input type="radio" name="cc">Credit Card</p></li> 
                        <li><p><input type="radio" name="cc">Debit Card</p></li>
                        <li><p><input type="radio" name="cc">Net Banking</p></li>
                        <li><p><input type="radio" name="cc">Mobile balance</p></li>
                    </ul>
                    <button class="small" >Submit</button>
                </div>
            </div>

            <hr> 

        </div>

    
    <footer>
        <div class="row">
            <div class="small-12 large-12 columns">
                <p> © 2013 Pay Tax. All rights reserved.</p>
            </div>
        </div>
    </footer>
        </body>
</html>
