<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        
       <title>SecureTax-buy-points</title>
        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">
        <script src="js/vendor/jquery.js"></script>

        <script>

            $(document).ready(function() {
                $("#buy").click(function() {

                    $("#way-of-payment").show()

                });
            });
        </script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250 x 45&text=sitename" />
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino </a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div>  
                <div class="samll-12 large-12 columns">
                    <hr>
                </div>
            </div>




        </header>
        <div class="row">
            <div class="small-12 large-12 columns " >
                <ul class="inline-list">
                    <li><a href="customer.html">Home</a>

                    <li><a href="create-question.html">Create Question</a>
                    <li><a href="buy-points.html">Buy points</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
                <h5>Buy Points</h5><br>
            </div>
            <div class="small-3 large-3 columns">
                <label>Enter your Points  </label>
            </div>
            <div class="small-3 large-3 columns">
                <input type="text" >
            </div>
            <div class="small-3 large-3 columns">
                <label> Rate</label>
            </div>
            <div class="pull-2 small-2 large-2 columns">
                <span>100 Rs/-</span>
            </div>
            <div class="small-12 large-12 columns">
                <button id="buy">Buy</button>
            </div>

        </div>

        <div class="row">
            <div id="way-of-payment" style="display:none">
                <div class="small-12 large-12 columns ">

                    <h5>Choose payment way</h5><br>
                    <ul class="inline-list">
                        <li><p><input type="radio" name="cc">Credit Card</p></li> 
                        <li><p><input type="radio" name="cc">Debit Card</p></li>
                        <li><p><input type="radio" name="cc">Net Banking</p></li>
                        <li><p><input type="radio" name="cc">Mobile balance</p></li>
                    </ul>
                    <button class="small" >Submit</button>
                </div>
            </div>
        </div>





        <footer>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <hr>
                </div>
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
