<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>SecureTax-Category</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel ="stylesheet" href ="foundation.css">
        <link rel ="stylesheet" href ="layout.css">
    </head>

    <header>
        <div class="row">
            <div class="small-12 large-12 columns">
                <nav class="top-bar-section">
                    <img src ="http://placehold.it/250x45&text=sitename" />
                    <ul class="inline-list right ">
                        <li><a href="#">Hello vino</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="home.html">Logout</a></li>
                    </ul>

                </nav>
            </div>  
            <div class="small-12 large-12 columns">
                <hr>
            </div>
        </div>

    </header>
    <body>

        <div class="row">
            <div class="small-12 large-12 columns menu" >
                <ul class="inline-list">
                    <li><a href="admin.html">Home</a>
                    <li><a href="category.html">Category</a>
                    <li><a href="people.html">People</a>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 columns">
                <h4>Category</h4>
            </div>


            <div class="small-12 large-12 columns ">
                <table>
                    <thead>


                        <tr> 
                            <th>
                                Category 
                            </th>
                            <th width="10">
                                Points
                            </th>
                            <th width="150">
                                Created Date
                            </th>
                            <th width="150">
                                Modified Date
                            </th>
                            <th>
                                Created by
                            </th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>category 1</td>
                        <td>12</td>
                        <td>27th Nov 2013</td>
                        <td>None</td>
                        <td>admin</td>
                        <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>

                    </tr>
                    <tr>
                        <td>category 2</td>
                        <td>12</td>
                        <td>23th Nov 2013</td>
                        <td>28th Nov 2013</td>
                        <td>ad7in</td>
                        <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>
                    </tr>
                    <tr>
                        <td>category 3</td>
                        <td>12</td>
                        <td>27th Nov 2013</td>
                        <td>None</td>
                        <td>admin</td>
                        <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>
                    </tr>
                    <tr>
                        <td>category 4</td>
                        <td>12</td>
                        <td>27th Nov 2013</td>
                        <td>None</td>
                        <td>admin</td>
                        <td id="edit-delete"><a href="#">edit</a>/<a href="#">delete</a></td>
                    </tr>
                    <tbody>

                </table>

            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
                <hr>
            </div>
            <div class="large-12 small-12 columns">
                <h4>Add New category</h4><br>
            </div>
            <div class="small-12 large-12 columns">
                <label>Category Name</label><br>
                <input style="width:200px" type="text" placeholder="Type your category name"><br>
                <label>Points</label><br>
                <input style="width:200px" type="text" placeholder="Type your points"><br>
                <button class="small">submit</button>
            </div>
        </div>

    </body>
    <footer>
        <div class="row">
            <div class="large-12 small-12 columns">
                <hr>
            </div>
            <div class="small-12 large-12 columns">
                <p> © 2013 Pay Tax. All rights reserved.</p>
            </div>
        </div>
    </footer>
</html>
