<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Secure Tax Consultant</title>

        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">

        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script src="js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script>
            $(document).foundation('section', {deep_linking: true}, function(response) {
                console.log(response.errors);
            });
        </script>
        
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <span class="site-name">THE AUDITOR</span>
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino </a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div>  
                <div class="samll-12 large-12 columns">
                    <hr>
                </div>
            </div>




        </header>


        <div class="row"> <!-- start row div -->
            <div class="small-12 large-12 columns">  <!-- start div with 12 columns -->
                <div class="section-container auto" data-section>

                    <section class="active">
                        <p class="title" data-section-title><a href="#panel1">home</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-12 large-12 columns ">
                                    <table>
                                        <thead>
                                      <th>
                                            Question
                                        </th>
                                        <th width="150">
                                            Asked on
                                        </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="answer.html" id="question">Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</a><p class="tiny button radius disabled " style="display:inline;position:relative;left:2px;top:2px;bottom:2px;background-color: red ">New</p></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">What items fall under the category of 'securities'?</a><p class="tiny button radius disabled " style="display:inline;position:relative;left:2px;top:2px;bottom:2px;background-color: red ">New</p></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="answer.html" id  ="question">What is standard deduction?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </section>
                     <section>
                       <p class="title" data-section-title><a href="#panel1">Activities</a></p>
                        <div class="content" data-section-content>
                            <table>
                                <tr>
                                    <th>Question</th>
                                    <th>Number of times answered</th>
                                    </tr>
                                    <tr>
                                    <td>Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</td>
                                    <td>4</td>
                                    
                                    </tr>
                                    <tr>
                                    <td>What items fall under the category of 'securities'?</td>
                                    <td>3</td>
                                   
                                    </tr>
                                    <tr>
                                    <td>What is standard deduction?</td>
                                    <td>4</td>
                                    
                                    </tr>
                            </table>
                            </div>
</section>                    

                </div> 
            </div><!-- start 12 columns div end-->
        </div><!-- start row end -->

        <footer>
            <div class="row">
                
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>

</html>