
<!DOCTYPE html>
<html>
    <head>
        <title> Consultant</title>

         <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">

        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script src="js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script>
            $(document).foundation('section', {deep_linking: true}, function(response) {
                console.log(response.errors);
            });
        </script>

    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <span class="site-name">THE AUDITOR</span>
                        <ul class="inline-list right ">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                         <div class="right">
                            <span class="name-label">Hello vinotha</span>
                        </div>
                    </nav>
                </div>  
            </div>
        </header>


        <div class="row content-wrapper"> <!-- start row div -->
            <div class="small-12 large-12 columns">  <!-- start div with 12 columns -->
                <div class="section-container auto section-login" data-section>

                    <section class="active">
                        <p class="title" data-section-title><a href="#panel1">Home</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="small-12 large-12 columns ">
                                    <table>
                                        <thead>
                                        <th>
                                            Question
                                        </th>
                                        <th class="asked-on">
                                            Asked on
                                        </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="answer.html" class="question">Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</a><sup class="new">new</sup></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr class="tablerw"> 
                                                <td><a href="#" class="question">What items fall under the category of 'securities'?</a><sup class="new">new</sup></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" class="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr class="tablerw">
                                                <td><a href="answer.html" class="question">What is standard deduction?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#panel1">Activities</a></p>
                        <div class="content" data-section-content>
                            <div class="row activities">
                                <div class="small-12 large-12 columns">
                                    <p><b>On Nov 28th 2013</b><a href="#"> consultant1</a> has posted the answer as <i>"No, earned income only includes all the taxable income and wages you get from working or from certain disability payments. Earned income does not include retirement, pay received for work while an inmate in a penal institution...</i><a class="right" href="answer.html">view more</a> </p>
                                    
                                    <hr>
                                    </div>
                                <div class="small-12 large-12 columns">
                                    <p><b>On Nov 27th 2013</b><a href="#"> consultant1</a> has posted the answer as <i>"The tax return shall be submitted in the following dates:   
                                            -before the 1st of April of every year ....</i><a class="right" href="answer.html">view more</a></p>
                                   <hr>
                                </div>
                                <div class="small-12 large-12 columns">
                                    <p><b>On Nov 26th 2013</b><a href="#"> consultant1</a> has posted the answer as <i>"No, earned income only includes all the taxable income and wages you get from working or from certain disability payments. Earned income does not include retirement, pay received for work while an inmate in a penal i,....</i><a class="right" href="answer.html">view more</a></p>
                                <hr>
                                </div>
                            </div>
                        </div>
                    </section>                    

                </div> 
            </div><!-- start 12 columns div end-->
        </div><!-- start row end -->

        <footer>
            <div class="row">

                <div class="small-12 large-12 columns">
                    <p>&copy;2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>

</html>