<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>SecureTax-create-question</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">

        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
        </script>
        <script>
            $(document).ready(function() {
                $("#sel").click(function() {
                    $("#points").text("0");
                });
               
              $("#cat1").click(function() {
                    $("#points").text("10");
                });
                $("#cat2").click(function() {
                    $("#points").text("20");
                });
                $("#cat3").click(function() {
                    $("#points").text("30");
                });
                $("#cat4").click(function() {
                    $("#points").text("40");
                });
                $("#cat5    ").click(function() {
                    $("#points").text("50");
                });
                
            });
            </script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250x45&text=sitename"/>
                        <ul class="inline-list right ">
                            <li> Hello vino</li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div> 
                <div class="small-12 large-12 columns">
                    <hr>
                </div>
            </div>




        </header>
        <div class="row">
            <div class="small-12 large-12 columns" >
                <ul class="inline-list">
                    <li><a href="customer.html">Home</a>

                    <li><a href="create-question.html">Create Question</a>
                    <li><a href="buy-points.html">Buy Points</a></li>
                </ul>
            </div>

        </div>

        <div class="row">



            <div class="small-10 large10 columns create-question">
                <h5>Create Your Question:</h5>
                <label>Question</label><br>
                <textarea style="height:120px;" placeholder="Enter your question here"></textarea>
            </div>
            <div class="small-5 large-5 columns" style="margin-top:20px;position:relative">
                <label for="category"> Category</label><br>

                <select> 
                                        <option id="sel" selected="selected" value="Choose ">choose your category</option>
                                        <option id="cat1">Category 1</option>
                                        <option id="cat2">Category 2</option>
                                        <option id="cat3">Category 3</option>
                                        <option id="cat4">Category 4</option>
                                        <option id="cat5">Category 5</option>
                                    </select>
            </div>
            <div class="small-7 large-7 columns" style="margin-top:20px;position:relative">
                <label> Points</label><br>
                <div class="small-1 large-1 columns">
                    <span id="points">0</span>
                </div>
                <div class=" pull-1 small-5 large-5 columns">
                    <div style="margin-top:-10px;position:relative">
                        <a href="buy-points.html">   <button class="medium">Buy Points</button></a>
                    </div>
                </div>

            </div>

            <div class="small-12 large-12 columns" >

                <label for="file-upload" >Select & upload file</label><br>

                <input type="file" multiple> 
                <button class="small">Upload</button>



            </div>

            <div class="small-12 large-12 columns" style="margin-top:30px;position:relative" >
                <a href="create-question-with-message.html"> <button class="medium">Ask</button></a>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <hr>
                </div>  
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
