<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>

    <head>
        <title>Secure Tax Customer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel ="stylesheet" href ="foundation.css">
        <link rel ="stylesheet" href ="layout.css">
        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script>

            $(document).ready(function() {
                $("#buy").click(function() {

                    $("#way-of-payment").show()

                });
            });
        </script>
        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
            
        </script>
        <script>
            $(document).ready(function() {
               
              $("#cat1").click(function() {
                    $("#points").text("10");
                });
                $("#cat2").click(function() {
                    $("#points").text("20");
                });
                $("#cat3").click(function() {
                    $("#points").text("30");
                });
                $("#cat4").click(function() {
                    $("#points").text("40");
                });
                $("#cat5    ").click(function() {
                    $("#points").text("50");
                });
                
            });
            </script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250x45&text=sitename"/>
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div> 
            </div>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <hr>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="section-container tabs" data-section="tabs">
                    <section class="active">
                        <p class="title" data-section-title><a href="#">Home</a></p>
                        <div class="content" data-section-content>

                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <h5>Question</h5>
                                    <table>
                                        <thead>
                                            <tr>

                                                <th>
                                                    Question
                                                </th>
                                                <th width="120">
                                                    Created Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="#" id="question">Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?<p style="display:inline;color:red">New</p></a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">What items fall under the category of 'securities'?<p style="display:inline;color:red">New</p></a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen? </a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id  ="question">WHAT IS STANDARD DEDUCTION?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>

                                        <tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#">Create Question</a></p>
                        <div class="content" data-section-content>
<div class="row">
    <div class="small-12 large-12 columns">
       <h5>Create Question</h5>
        </div>
    </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                   

                                    <label>Question</label><br>
                                    <textarea style="height:120px;width:400px" placeholder="Enter your question here"></textarea><br/>

                                </div>
                            </div>
                            <div class="row">
                                <div class="small-6 large-6 columns">
                                    <label for="category"> Category</label><br>

                                    <select> 
                                        <option id="sel" selected >choose your category</option>
                                        <option id="cat1">Category 1</option>
                                        <option id="cat2">Category 2</option>
                                        <option id="cat3">Category 3</option>
                                        <option id="cat4">Category 4</option>
                                        <option id="cat5">Category 5</option>
                                    </select>
                                </div>
                                <div class="small-3 large-3 columns">
                                    <label> Points</label><br>
                                    <span id="points"></span>
                                </div>
                                <div class="small-3 large-3 columns">
                                    <a href="buy-points.html">   <button class="medium">Buy Points</button></a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">

                                    <label for="file-upload" >Select & upload file</label><br>

                                    <input type="file" multiple> 
                                    <button class="small">Upload</button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <button class="small">Ask</button>
                                </div>
                            </div>

                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#">Buy Points</a></p>
                        <div class="content" data-section-content>

                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <h5>Buy Points</h5><br>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 large-3 columns">
                                    <label>Enter your Points  </label>
                                </div>
                                <div class="small-3 large-3 columns">
                                    <input type="text" >
                                </div>
                                <div class="small-3 large-3 columns">
                                    <label> Rate</label>
                                </div>
                                <div class="small-3 large-3 columns">
                                    <span>37 Rupees</span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <button id="buy">Buy</button>
                                </div>
                            </div>
                            
                                <div id="way-of-payment" style="display:none" >
                                    <div class="row">
                                    <div class="small-12 large-12 columns">
                                        <h5>Choose payment way</h5><br>
                                        <ul class="inline-list">
                                            <li><p><input type="radio" name="cc">Credit Card</p></li> 
                                            <li><p><input type="radio" name="cc">Debit Card</p></li>
                                            <li><p><input type="radio" name="cc">Net Banking</p></li>
                                            <li><p><input type="radio" name="cc">Mobile balance</p></li>
                                        </ul>
                                    </div>
                                        
                                    <div class="small-12 large-12 columns">
                                        <button class="small">Submit</button>
                                    </div>
                                            
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        
</body>

    
   
</html>
