<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Secure Tax Customer-home</title>

        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">

        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script src="js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>
        <script>
            $(document).foundation('section', {deep_linking: true}, function(response) {
                console.log(response.errors);
            });
        </script>
        <script>

            $(document).ready(function() {
                $("#buy").click(function() {

                    $("#way-of-payment").show()

                });
            });
        </script>
        <script>
            $(document).ready(function() {
                $("#sel").click(function() {
                    $("#points").text("0");
                });

                $("#cat1").click(function() {
                    $("#points").text("10");
                });
                $("#cat2").click(function() {
                    $("#points").text("20");
                });
                $("#cat3").click(function() {
                    $("#points").text("30");
                });
                $("#cat4").click(function() {
                    $("#points").text("40");
                });
                $("#cat5    ").click(function() {
                    $("#points").text("50");
                });

            });
        </script>
        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
        </script>

        <script src="js/vendor/jquery.js"></script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250x45&text=sitename"/>
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino(70)</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div> 
                <div class="small-12 large-12 columns">
                    <hr>
                </div>
            </div>
        </header>


        <div class="row"> <!-- start row div -->
            <div class="small-12 large-12 columns">  <!-- start div with 12 columns -->
                <div class="section-container auto" data-section>

                    <section class="active">
                        <p class="title" data-section-title><a href="#panel1">home</a></p>
                        <div class="content" data-section-content>

                            <div class="row">

                                <div class="small-12 large-12 columns">

                                    <table>
                                        <thead>
                                            <tr>

                                                <th>
                                                    Question
                                                </th>
                                                <th>
                                                    Asked On
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td ><a href="answer.html" id="question">Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?</a><p class="tiny button radius disabled " style="display:inline;position:relative;left:2px;top:2px;bottom:2px;background-color: red ">New</p></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">What items fall under the category of 'securities'?</a><p class="tiny button radius disabled " style="display:inline;position:relative;left:2px;top:2px;bottom:2px;background-color: red ">New</p></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>
                                            <tr>
                                                <td><a href="#" id  ="question">What is standard deduction?</a></td>
                                                <td>12th Nov 2013</td>
                                            </tr>

                                        <tbody>

                                    </table>
                                </div>
                            </div>


                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#panel2">Create Question</a></p>
                        <div class="content" data-section-content>

                            <div class="row">
                                <div class="small-12 large12 columns create-question">

                                    <label>Question</label><br>
                                    <textarea style="height:120px;" placeholder="Enter your question here"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 large-5 columns" >
                                    <label for="category"> Category</label><br>

                                    <select> 
                                        <option id="sel" selected="selected" value="Choose ">choose your category</option>
                                        <option id="cat1">Category 1</option>
                                        <option id="cat2">Category 2</option>
                                        <option id="cat3">Category 3</option>
                                        <option id="cat4">Category 4</option>
                                        <option id="cat5">Category 5</option>
                                    </select>
                                </div>
                               </div>
                            <div class="row">
                                    <div class="small-3 large-3 columns">
                                         <label> Points</label><br>
                                        <span id="points">0</span>
                                    </div>
                                </div>
                            <div class="row">
                                    <div class=" small-4 large-4 columns">
                                        <div>
                                            <a href="buy-points.html">   <button class="medium">Buy Points</button></a>
                                        </div>
                                    </div>

                                </div>
                            
                            <div class="row">
                                <div class="small-12 large-12 columns" >

                                    <label for="file-upload" >Select & upload file</label><br>

                                    <input type="file" multiple> 
                                    <button class="small">Upload</button>



                                </div>
                            </div>
                            <div class="row">

                                <div class="small-12 large-12 columns"  >
                                    <a href="create-question-with-message.html"> <button class="medium">Ask</button></a>
                                </div>
                            </div>

                        </div>
                    </section>
                    <section>
                        <p class="title" data-section-title><a href="#panel3">Buy Points</a></p>
                        <div class="content" data-section-content>

                            <div class="row">
                                <div class="small-3 large-3 columns">
                                    <label>Enter your Points  </label>
                                </div>
                                <div class="small-3 large-3 columns">
                                    <input type="text" >
                                </div>
                                <div class="small-3 large-3 columns">
                                    <label> Rate</label>
                                </div>
                                <div class="    small-3 large-3 columns">
                                    <span>100 Rs/-</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <button id="buy">Buy</button>
                                </div>

                            </div>

                            <div class="row">
                                <div id="way-of-payment" style="display:none">
                                    <div class="small-12 large-12 columns ">

                                        <h5>Choose payment way</h5><br>
                                        <ul class="inline-list">
                                            <li><p><input type="radio" name="cc">Credit Card</p></li> 
                                            <li><p><input type="radio" name="cc">Debit Card</p></li>
                                            <li><p><input type="radio" name="cc">Net Banking</p></li>
                                            <li><p><input type="radio" name="cc">Mobile balance</p></li>
                                        </ul>
                                        <button class="small" >Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div> 
            </div><!-- start 12 columns div end-->
        </div><!-- start row end -->

        <footer>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <hr>
                </div>  
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>

</html>