
<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <meta name="viewport" content="width=device-width" />
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.css" />
        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/app.css" />
        <link rel ="stylesheet" href ="css/layout.css">

        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script src="js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
        <script>
            document.write('<script src=/js/vendor/'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js><\/script>');
        </script>


        <script>
            $(document).foundation();
        </script>

        <script>
            tinymce.init({
                selector: "textarea",
                menubar: false,
                statusbar: false
            });
        </script>


    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <span class="site-name">THE AUDITOR</span>
                        <ul class="inline-list right ">

                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                        <div class="right">
                            <span class="name-label">Hello vinotha</span>
                        </div>
                    </nav>
                </div>  

            </div>
        </header>
        <div class="row">
            <div class="small-12 large-12 columns" >
                <ul class="inline-list">
                    <li><a href="admin.html">Home</a>
                   
                </ul>
            </div>

        </div>


        <div class="row content-wrapper"> <!-- start row div -->
            <div class="small-12 large-12 columns">  <!-- start div with 12 columns -->
                <div class="section-container auto section-login" data-section>

                    <section class="active">
                        <p class="title" data-section-title><a href="admin.html">Add New people</a></p>
                        <div class="content" data-section-content>
                            <div class="row">

                                <div class="small-12 large-12 columns">
                                    <div class="row">
                                        <div class="small-6 large-6 columns">
                                            <p class="message">People Edited Successfully</p>
                                            <h4>Edit People</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 large-6 columns ">
                                            <label>Name</label>
                                            <input type="text" value="vino"><br>
                                            <label>User Name</label>
                                            <input type="text" value="vinotha"><br>
                                            <label>Password</label>
                                            <input type="password" placeholder="Enter password.."><br>
                                            <label>Confirm Password</label>
                                            <input type="password" placeholder="Re-Enter password"><br>
                                            <label>Role</label>
                                            <input type="text" placeholder="Enter role"><br>
                                            <a href="edit-people-with-message"> 
                                                <button class="but-blue">Submit</button></a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>



                
                </section>



            </div> 
        </div><!-- start 12 columns div end-->
    </div><!-- start row end -->

    <footer>
        <div class="row">

            <div class="small-12 large-12 columns">
                <span> &copy;2013 Pay Tax. All rights reserved.</span>
            </div>
        </div>
    </footer>
</body>

</html>