<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Secure Tax</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel ="stylesheet" href ="foundation.css">
        <link rel ="stylesheet" href ="layout.css">
        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
         <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.section.js"></script>
        <script src="js/vendor/customer.js"></script>
        <script>
      document.write('<script src=/js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>

         <script>
    $(document).foundation();
  </script>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <div class="small-5 large-5 columns">
                        <img src ="http://placehold.it/250 x 45&text=THE AUDITOR" />
                    </div>
                   <hr>  
                </div>
               
            </div>


            <div class="row">
                <div class="small-12 large-12 columns menu" >
                    <ul class="inline-list">
                        <li><a href="#">Services</a>
                        <li><a href="#">About</a>
                        <li><a href="#">Link</a>
                        <li><a href="#">Link</a>
                    </ul>
                    <hr>
                </div>
                
            </div>



        </header> 
        <div class="row">

            <div class="small-12 large-12 columns ">

                <div class='small-6 large-6 columns ' style="border-right: 1px solid grey">
                    <h3>Features</h3>

                    <h5><a href='#'>First Feature</a></h5>
                    <p>Pay tax is a project built on the idea to make the ever increasing tax filing headache a thing of the past.You should find this website very easy and intuitive to use.See the Process Flow</p>


                    <h5><a href="#">Second Feature</a></h5>
                    <p>Pay tax is a project built on the idea to make the ever increasing tax filing headache a thing of the past.You should find this website very easy and intuitive to use.See the Process Flow</p>

                    <h5><a href="#">Third Feature</a></h5>
                    <p>Pay tax is a project built on the idea to make the ever increasing tax filing headache a thing of the past.You should find this website very easy and intuitive to use.See the Process Flow</p>

                    <p>   <a href="#">See More Features</a></p>


                </div>
                <div class="small-6 large-6 columns">
                    
   <div class="section-container tabs" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Log In</a></p>
    <div class="content" data-section-content>
      <h4> Log In</h4>    
     <input type="text" placeholder="username">
     <input type="password" placeholder="password">
     <button class="small">Log In</button>
                   
                
      
    </div>
  </section>
  <section >
    <p class="title" data-section-title><a href="#panel2">Register</a></p>
    <div class="content" data-section-content>
        <h4> Register Now</h4>
                    <input type="text" placeholder="username">
                    <input type="email" placeholder="Email Id">
                    <input type="password" placeholder="password">
                    <input type="password" placeholder="Re-Enter password">
                    <button class="small">Sign Up</button>
     
     
    </div>
  </section>
</div>

                   
                    <h6>Contact Us</h6>
                    <div class="small-4 large-4 columns">
                        

                            <p>Mobile-No: +9198578633</p>
                            <p><a href="mailto:rajagopalan@edcellence.in">rajagopalan@edcellence.in</a></p>
                            <p><a href="mailto:rajagopalan@edcellence.in">lakshminp.edcellence.in</a></p>

                            <hr>
                            Follow Us
                            <a href="https://twitter.com/Ed_excellence">  <img src="http://placehold.it/30x30&text=t"></a>
                            <img src="http://placehold.it/30x30&text=f">
                            <img src="http://placehold.it/30x30&text=in">  
                        
                    </div>
                </div>

            </div>  
        </div>



        <footer>
            <div class="row">
                <hr>
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </body>


</html>
