#question {
    text-decoration: underline;
}
a link {
    color:#66FFFF;
}
a:hover {
text-decoration: underline;
color:#E671AC;
}
    
a:visited {
    color:#944D94;
    
}
.buy-points table {
    border:none;
}