#question {
    text-decoration: underline;
}
a {
    color:#66FFFF;
}


a:visited {
    color:#944D94;

}
a:hover {

    color:#E671AC;
}
.buy-points table {
    border:none;
}
label {
    font-weight:bold;
}