<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>SecureTax-Router</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel ="stylesheet" href ="foundation.css">
        <link rel ="stylesheet" href ="layout.css">
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250 x 45&text=sitename" />
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino </a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div>  
                <div class="samll-12 large-12 columns">
                    <hr>
                </div>
            </div>




        </header>
        <div class="row">


            <div class="large-12 small-12 columns">
                <h5>Assign Questions To Consultants</h5><br>
            </div>
            <div class="small-12 large-12 columns">
                <label>Send Questions To</label> <br>
            </div>
            <div class="small-5 large-5 columns">
                <select>
                    <option>Consultant 1</option>
                    <option>Consultant 2</option>
                    <option>Consultant 3</option>
                    <option>Consultant 4</option>
                </select>
            </div>
            <div class="small-6 large-6 columns">
              <a href="router-page-with-message.html">  <button class="small">send  </button></a>
               
            </div>
            <div class="small-12 large-12 columns">
                <table>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Question
                            </th>
                            <th width="120">
                                Created Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="checkbox"></td>
                          <td><a href="answer-page.html" id="question">Does rolling a 401(k) into a roth IRA disqualify an individual from the earned income credit if their actual earnings are within the income window?<p style="display:inline;color:red">New</p></a></td>
                            <td>12th Nov 2013</td>
                        </tr>
                        <tr><td><input type="checkbox"></td>
                           <td><a href="#" id="question">What items fall under the category of 'securities'?<p style="display:inline;color:red">New</p></a></td>
                            <td>12th Nov 2013</td>
                        </tr>
                        <tr><td><input type="checkbox"></td>
                            <td><a href="#" id="question">Does the NRI have to pay property tax if they buy property in India? Can a person fill a NRI in a Income tax form if he has been out of India for six months though he is Indian citizen?</a></td>
                            <td>12th Nov 2013</td>
                        </tr>
                        <tr><td><input type="checkbox"></td>
                            <td><a href="#" id  ="question">What is standard deduction?</a></td>
                            <td>12th Nov 2013</td>
                        </tr>

                    <tbody>

                </table>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <hr>    
                </div>
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </body>
</html>
