<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Secure Tax</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel ="stylesheet" href ="foundation.css">
        <link rel ="stylesheet" href ="layout.css">
    </head>
    <body>
        <header>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <nav class="top-bar-section">
                        <img src ="http://placehold.it/250 x 45&text=sitename" />
                        <ul class="inline-list right ">
                            <li><a href="#"> Hello vino </a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="home.html">Logout</a></li>
                        </ul>
                    </nav>
                </div>  
                <div class="samll-12 large-12 columns">
                    <hr>
                </div>
            </div>




        </header>
        <div class="row">


            <div class="large-12 small-12 columns">
                <h5>Router</h5>
            </div>
            <div class="small-12 large-12 columns">
                <label>Send Questions To</label> <br>
            </div>
            <div class="small-5 large-5 columns">
                <select>
                    <option>Consultant 1</option>
                    <option>Consultant 2</option>
                    <option>Consultant 3</option>
                    <option>Consultant 4</option>
                </select>
            </div>
            <div class="small-6 large-6 columns">
                <button class="small">send
                </button>
            </div>
            <div class="small-12 large-12 columns">
                <table>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Question
                            </th>
                            <th>
                                Created Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><input type="checkbox"></td>
                            <td><a href="#" id="question">This is longer content Donec id elit non mi porta gravida at eget metus.</a></td>
                            <td>12th Nov 2013</td>
                        </tr>
                        <tr><td><input type="checkbox"></td>
                            <td><a href="#" id="question">This is longer content Donec id elit non mi porta gravida at eget metus</a></td>
                            <td>12th Nov 2013</td>
                        </tr>
                        <tr><td><input type="checkbox"></td>
                            <td><a href="#" id="question">This is longer content Donec id elit non mi porta gravida at eget metus.</a></td>
                            <td>12th Nov 2013</td>
                        </tr>
                        <tr><td><input type="checkbox"></td>
                            <td><a href="#" id  ="question">This is longer content Donec id elit non mi porta gravida at eget metus.</a></td>
                            <td>12th Nov 2013</td>
                        </tr>

                    <tbody>

                </table>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="small-12 large-12 columns">
                <hr>    
                </div>
                <div class="small-12 large-12 columns">
                    <p> © 2013 Pay Tax. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </body>
</html>
