<html>
    <head>
        <link rel ="stylesheet" href ="foundation.css">
     
 
  
  <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.js"></script>
        <script src="js/foundation/foundation.abide.js"></script>
        
  <script>
      document.write('<script src=/js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>   
  <script>
    $(document).foundation();
   
  </script>
  
 
    </head>
<body>
    <form data-abide novalidate="novalidate">
       <div class="small-6 large-6 columns"> 
       <input  type="password" required pattern="password" data-invalid="">
       <small class="error" data-error-message>Password field is required </small>
       </div>
        <button type="submit" >submit</button>
        
</form>
    </body>
    
</html>